pre {
  /* overflow: auto; */
  overflow-wrap: break-word;
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  word-wrap: break-word; /* IE 5+ */
}

/* json colors */
.string {
  color: #2a9292;
}

.number {
  color: #aa573c;
}

.boolean {
  color: #b22222;
}

.null {
  color: #955ae7;
}

.key {
  color: #8b8792;
}

.renderjson a {
  text-decoration: none;
}
.renderjson .disclosure {
  color: #8b8792;
  font-size: 100%;
}
.renderjson .syntax {
  color: grey;
}
.renderjson .string {
  color: #2a9292;
}
.renderjson .number {
  color: cyan;
}
.renderjson .boolean {
  color: plum;
}
.renderjson .key {
  color: lightblue;
}
.renderjson .keyword {
  color: lightgoldenrodyellow;
}
.renderjson .object.syntax {
  color: lightseagreen;
}
.renderjson .array.syntax {
  color: lightsalmon;
}
